{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container text-center">
    <h1>Hello</h1>
    <p>Welcome to the homepage</p>
</div>
{% endblock %}
