{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>Hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ratione et autem architecto, fuga est repellendus eligendi iure, facere ex doloremque voluptatum eius. Eius praesentium ipsam, aspernatur deserunt eligendi beatae.</p>
    
    <ul>
        {% for recipe in recipes %}
            <li><a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a> ({{ recipe.duration }} min)</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
