{% extends 'base.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
<h1 class="mb-4">{{ recipe.title }}</h1>
<div class="card">
  <div class="card-body">    
    <p class="card-text">{{ recipe.content | nl2br }}</p>
    <p class="card-text">Durée de préparation : {{ recipe.duration }} min</p>
  </div>
</div>
{% endblock %}
